body {
  background-color: var(--blue);
}

.nav {
  width: 100%;
  display: inline-grid;
  grid-template-columns: 10fr 1fr 1fr;
  grid-template-rows: 60px;
  font-size: 20px;
  align-items: center;
  font-family: "Abril Fatface", cursive;
  font-family: "Merriweather", serif;
  border-bottom: solid 1px var(--font-color);
}

.login {
  display: flex;
  justify-content: flex-end;
}

.signup {
  display: flex;
  justify-content: center;
}
