.sign{
   width: 120px;
   height: 100px;
  color: var(--font-color);
  float: right;
  margin-top: 32px;
  margin-right: 120px;
  font-weight: 400;
  display: block;
  font-size: 20px;
  font-family: 'Abril Fatface', cursive;
   font-family: 'Merriweather', serif;
}

.sign__list{
   margin-top: 25px;
   display: none;
   transition: 2s ease-in;
}

.sign__item {
   padding-top: 15px;
}
.sign__link--focused:hover {
   text-decoration: underline;
}

div :hover > .sign__list{
   display: block;
}









