.SignUpFinish-login {
   height: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
 }
 
 .SignUpFinish-login__btn {
   width: 500px;
   height: 50px;
   font-family: "Roboto", sans-serif;
   margin-top: 50px;
   font-size: 15px;
   text-transform: uppercase;
   letter-spacing: 2.5px;
   font-weight: 500;
   color: white;
   background-color : var(--blue);
   border: none;
   border-radius: 50px;
   box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
   transition: all 0.3s ease 0s;
   cursor: pointer;
   outline: none;
 }
 
 .SignUpFinish-login__btn:hover {
   background-color: white;
   box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
   color: skyblue;
   font-size: 20px;
   transform: translateY(-7px);
 }
 .SignUp-alert {
   margin: 0 auto;
   width: 550px;
   font-size: 40px;
   padding: 0 auto;
   padding-top: 25%;
   padding-bottom: 50px;
   color: aliceblue;
 }
 .SignUp-alert span {
   display: inline-block;
   margin: 0 -0.05em;
   animation: loading 0.7s infinite;
 }
 .SignUp-alert span:nth-child(2) {
   animation-delay: 0.1s;
 }
 .SignUp-alert span:nth-child(3) {
   animation-delay: 0.2s;
 }
 .SignUp-alert span:nth-child(4) {
   animation-delay: 0.3s;
 }
 .SignUp-alert span:nth-child(5) {
   animation-delay: 0.4s;
 }
 .SignUp-alert span:nth-child(6) {
   animation-delay: 0.5s;
 }
 .SignUp-alert span:nth-child(7) {
   animation-delay: 0.6s;
 }
 .SignUp-alert span:nth-child(8) {
   animation-delay: 0.7s;
 }
 .SignUp-alert span:nth-child(10) {
   animation-delay: 0.8s;
 }
 .SignUp-alert span:nth-child(10) {
   animation-delay: 0.9s;
 }
 @keyframes loading {
   0%,
   100% {
     transform: translateY(0);
   }
   50% {
     transform: translateY(15px);
   }
 }