
body {
   width: 100%;
   height: 100vh;
 }
 .splash {
   width: 100%;
   height: 100vh;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   background-color: var(--blue);
   color: var(--font-color);
   font-family: "Abril Fatface", cursive;
   font-size: 100px;
   overflow: hidden;
 }
 .splash span:first-child {
   font-size: 190px;
 }
 @keyframes rotate {
   to {
     transform: rotateZ(180deg);
   }
 }
 @keyframes toBig {
   to {
     transform: translateY(-100px) scale(100) rotateZ(180deg);
   }
 }
 .splash i {
   font-size: 70px;
   margin: 40px;
   color: var(--font-color);
 }
 .splash__icon__container {
   display: flex;
   position: relative;
   justify-content: center;
   align-items: center;
   cursor: pointer;
 }
 .splash__icon__container h2 {
   position: absolute;
   font-size: 30px;
   bottom: 63px;
   color: rgb(90, 90, 90);
 }
